[submodule "naos/libc/mlibc"]
	path = naos/libc/mlibc
	url = https://github.com/kadds/mlibc
[submodule "naos/freelibcxx"]
	path = naos/freelibcxx
	url = https://github.com/kadds/freelibcxx
[submodule "naos/src/acpica"]
	path = naos/src/acpica
	url = https://github.com/kadds/acpica
