[submodule "naos/libc/mlibc"]
	path = naos/libc/mlibc
	url = https://github.com/kadds/mlibc
[submodule "naos/freelibcxx"]
	path = naos/freelibcxx
	url = https://github.com/kadds/freelibcxx
[submodule "naos/src/acpica"]
	path = naos/src/acpica
	url = https://github.com/kadds/acpica
[submodule "naos/src/usr/busybox"]
	path = naos/src/usr/busybox
	url = https://git.busybox.net/busybox.git
[submodule "idl"]
	path = idl
	url = https://github.com/kadds/naos_idl.git
[submodule "naos/third_party/libvterm"]
	path = naos/third_party/libvterm
	url = https://github.com/neovim/libvterm.git
