CONFIG_BUSYBOX=y
CONFIG_FEATURE_INSTALLER=y
CONFIG_INSTALL_NO_USR=y
CONFIG_STATIC=y
CONFIG_STATIC_LIBGCC=y
CONFIG_CAT=y
CONFIG_ECHO=y
CONFIG_ENV=y
CONFIG_FALSE=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_PWD=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SH_IS_ASH=y
CONFIG_SHELL_ASH=y
CONFIG_FEATURE_EDITING=y
CONFIG_FEATURE_EDITING_MAX_LEN=1024
CONFIG_FEATURE_EDITING_HISTORY=255
CONFIG_FEATURE_EDITING_FANCY_PROMPT=y
CONFIG_FEATURE_EDITING_WINCH=y
CONFIG_FEATURE_TAB_COMPLETION=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_ASH_HELP=y
CONFIG_ASH_TEST=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_GETOPTS=y
CONFIG_ASH_CMDCMD=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_TOUCH=y
CONFIG_TRUE=y
