set default=0
set timeout=1
menuentry "NaOS multiboot2 boot from efi" {
    insmod all_video
    insmod part_msdos
    insmod fat
    multiboot2 /kernel kernel_log_serial=on kernel_log_buffer_size=128K tty_buffer_size=64K tty_count=4 acpi=true
    module2 /vfsd vfsd
    module2 /ramdiskd blockd
    module2 /rootfsd rootfsd
    module2 /init init
    module2 /root.img rootimage
    boot
}

menuentry "NaOS multiboot2 boot from mbr" {
    insmod all_video
    insmod part_msdos
    insmod fat
    multiboot2 /kernel kernel_log_serial=on kernel_log_buffer_size=128K tty_buffer_size=64K tty_count=4 acpi=true
    module2 /vfsd vfsd
    module2 /ramdiskd blockd
    module2 /rootfsd rootfsd
    module2 /init init
    module2 /root.img rootimage
    boot
}
